@font-face {
  font-family: 'MyFont';
  src: local('JerseySharp'), url(../../fonts/JerseySharp.ttf) format('truetype');
}

.navbar {
  height: 5rem;
}

.brandtitle {
  font-family: 'JerseySharp';
  font-size: 2rem;
}

.profilePic {
  border-radius: 50%;
  background-color: aqua;
  overflow: 'hidden';
  object-fit: 'cover';
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.userInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.userInfo p {
  margin: 0;
  padding-right: 1rem;
}

.react-icons {
  color: white;
  height: 1.5rem;
  margin: 0 1rem;
  cursor: pointer;
}

.react-icons:hover {
  color: rgb(195, 195, 195);
}
